.container {
  width: 95vw;
  margin: 0 auto;
  padding: 0px 10px;
}


@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 820px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1010px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1300px;
  }
}

.page-wrapper {
  overflow: hidden;
}

.purple-text {
  display: inline-block;
  background: linear-gradient(
    141deg,
    rgba(131, 56, 236, 1) 0%,
    rgba(58, 134, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.gradient-text {
  display: inline-block;
  background: linear-gradient(
    141deg,
    rgba(131, 56, 236, 1) 0%,
    rgba(58, 134, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.section-title {
  font-family: Epilogue;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4rem;
  letter-spacing: -0.075rem;
}

.section-heading {
  color: var(--neutral-d-grey, #4d4d4d);
  font-family: Epilogue;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.3rem; /* 122.222% */
}

 .subtitle{
  color: var(--neutral-d-grey, #4D4D4D);
text-align: center;
font-family: Epilogue;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: 2.25rem; /* 180% */
 }
 .h1{
  color: #4D4D4D;
  text-align: center;
  font-family: Epilogue;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.75rem; /* 68.75% */
}
.journey{
  color: var(--neutral-d-grey, #4D4D4D);
  text-align: center;
  font-family: Epilogue;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 67.2px */
}
.start-btn {
  display: flex;
  padding: 0.875rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem;
  background: #8976fd;
  max-width:"fit-content";

  color: var(--neutral-white, #fff);
  text-align: center;
  
  /* Body/Medium/Body 2 */
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
}
.book-demo{
  display: flex;
  height: 3rem;
  padding: 0.875rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: #8976FD;
  text-align: center;
  border-radius: 0.25rem;
  border: 1px solid #8976FD;
  
  /* Body/Medium/Body 2 */
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  width: fit-content;
 }
 .continue-btn{
  display: flex;
  height: 3rem;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: #8976FD;
  text-align: center;
  border-radius: 0.25rem;
  border: 1px solid #8976FD;
  
  /* Body/Medium/Body 2 */
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
 }

@media (min-width: 1280px) {
  .section-title {
    font-size: 1.5rem;
    line-height: 1.65rem;
  }

  .section-heading {
    font-size: 2.15rem;
    line-height: 2.45rem;
  }
}

/* slick slider styles */

.slick-list .slick-track {
  display: flex;
}

.slick-list .slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

.slick-list .slick-track .slick-slide > div {
  height: 100%;
}


@media (max-width: 600px){
  .h1{
    color: #4D4D4D;
text-align: center;
font-family: Epilogue;
font-size: 1.625rem;
font-style: normal;
font-weight: 800;
line-height: 150%; /* 2.4375rem */
text-transform: capitalize;
  }
  .subtitle{
    color: var(--neutral-d-grey, #4D4D4D);
text-align: center;
font-family: Epilogue;
font-size: 0.625rem;
font-style: normal;
font-weight: 500;
line-height: 1.57031rem; /* 251.25% */
  }
  .journey{
    color: var(--neutral-d-grey, #4D4D4D);
    text-align: start;
    font-family: Epilogue;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 67.2px */
  }
  .book-demo{
    align-items: flex-start;
    justify-content: flex-start;
  }
}
