.footer-container {
  background-color: #25282b;
  padding: 40px 0px;
}
.logo {
  color: #fff;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
}

.subtitle {
  color: #fff;
  font-family: Gilroy-Medium;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 24px */
  opacity: 0.8;
}

.header {
  color: #f6973f;
  font-family: "DM Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.232px;
  opacity: 0.8;
}

.copy {
  color: #fff;
  font-family: Gilroy-Medium;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 24px */
  opacity: 0.5;
}
